#myGroups {
    background: linear-gradient(to right, #e0bbff, #d4fc79);
    max-width: 20%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(48, 47, 47);
    font-size: 2em;
    margin: auto;
    border-radius: 40px;
}

#memberOf {
    background: linear-gradient(to right, #e0bbff, #d4fc79);
    max-width: 20%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(48, 47, 47);
    font-size: 2em;
    margin: auto;
    border-radius: 40px;
}

#allGroups {
    background: linear-gradient(to right, #e0bbff, #d4fc79);
    max-width: 20%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(48, 47, 47);
    font-size: 2em;
    margin: auto;
    border-radius: 40px;
}