#myGroups {
    background: linear-gradient(to right, #b54a8c, #32b9f8);
    max-width: 20%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(48, 47, 47);
    font-size: 2em;
    margin: auto;
    border-radius: 40px;
}

#memberOf {
    background: linear-gradient(to right, #24e65e, #9228f0);
    max-width: 20%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(48, 47, 47);
    font-size: 2em;
    margin: auto;
    border-radius: 40px;
}

#allGroups {
    background: linear-gradient(to right, #0fb8f1, #5ce513);
    max-width: 20%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(48, 47, 47);
    font-size: 2em;
    margin: auto;
    border-radius: 40px;
}